In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "key1": list("aabba"),
    "key2": ["one", "two", "one", "two", "one"],
    "data1" : np.arange(5),
    "data2": np.arange(5,10)
})
df

  key1 key2  data1  data2
0    a  one      0      5
1    a  two      1      6
2    b  one      2      7
3    b  two      3      8
4    a  one      4      9

In [10]:
grouped = df["data1"].groupby([df['key1'], df['key2']])

In [11]:
grouped.mean()

key1  key2
a     one     2
      two     1
b     one     2
      two     3
Name: data1, dtype: int32

In [2]:
df = pd.DataFrame([{
    "key1": 'nini',
    "data1" : 11
}, {
     "key1": 'nini',
    "data1" : 11
}, {
     "key1": 'nin2',
    "data1" : 222
}])
df

   data1  key1
0     11  nini
1     11  nini
2    222  nin2

In [3]:
df = pd.DataFrame([("key", 11), ("key", 33)])
df

     0   1
0  key  11
1  key  33