In [2]:
import pandas as pd
import numpy as np

In [17]:
df1 = pd.DataFrame({"key": list("bbacaab"), 'data1':range(7)})
df2 = pd.DataFrame({"key": list("abd"), 'data2':range(3)})

In [18]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [19]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [25]:
pd.merge(df1, df2, sort=False)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [21]:
pd.merge(df2, df1)

  key  data2  data1
0   a      0      2
1   a      0      4
2   a      0      5
3   b      1      0
4   b      1      1
5   b      1      6

In [22]:
pd.merge(df1, df2, how='outer')

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

In [26]:
df1 = pd.DataFrame({"key1": list("bbacaab"), 'data1':range(7)})
df2 = pd.DataFrame({"key2": list("abd"), 'data2':range(3)})

In [28]:
pd.merge(df1, df2, left_on="key1", right_on="key2")

  key1  data1 key2  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [45]:
df1 = pd.DataFrame({"key1": list("bbacab"), 'data1':range(6)})
df2 = pd.DataFrame({"key2": list("ababd"), 'data2':range(5)})

In [39]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [40]:
df2

  key  data2
0   a      0
1   b      1
2   a      2
3   b      3
4   d      4

In [42]:
pd.merge(df1, df2, on="key")

  key  data1  data2
0   b      0      1
1   b      0      3
2   b      1      1
3   b      1      3
4   b      5      1
5   b      5      3
6   a      2      0
7   a      2      2
8   a      4      0
9   a      4      2

In [46]:
df1.join(df2,how='outer')

  key1  data1 key2  data2
0    b      0    a    0.0
1    b      1    b    1.0
2    a      2    a    2.0
3    c      3    b    3.0
4    a      4    d    4.0
5    b      5  NaN    NaN

In [2]:
s1 = pd.Series([0,1], index=list('ab'))
s2 = pd.Series([2,3,4], index=list('cde'))
s3 = pd.Series([5,6], index=list('fg'))

In [3]:
s1

a    0
b    1
dtype: int64

In [7]:
pd.concat([s1,s2])

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [9]:
s4 = pd.concat([s1 *5 ,s3])

In [10]:
s4

a    0
b    5
f    5
g    6
dtype: int64

In [17]:
pd.concat([s1, s4], axis=1)

C:\Users\lei_jia.NUANCE\AppData\Local\Continuum\anaconda3\envs\gluon\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     0  1
a  0.0  0
b  1.0  5
f  NaN  5
g  NaN  6

In [18]:
pd.concat([s1, s4],axis=1, join='inner')

   0  1
a  0  0
b  1  5

In [23]:
pd.concat([s1, s4],axis=1, join_axes=[["a", "c"]])

     0    1
a  0.0  0.0
c  NaN  NaN

In [33]:
df1 = pd.DataFrame({"key": list("bbacaab"), 'data':range(7)})
df2 = pd.DataFrame({"key": list("abd"), 'data':range(3)})

In [37]:
pd.concat([df1, df2], ignore_index=True)

  key  data
0   b     0
1   b     1
2   a     2
3   c     3
4   a     4
5   a     5
6   b     6
7   a     0
8   b     1
9   d     2

In [36]:
pd.concat([df2, df1], axis=1)

   key  data key  data
0    a   0.0   b     0
1    b   1.0   b     1
2    d   2.0   a     2
3  NaN   NaN   c     3
4  NaN   NaN   a     4
5  NaN   NaN   a     5
6  NaN   NaN   b     6

In [56]:
df1 = pd.DataFrame({"a": [1, np.nan, 5, np.nan], 'b':[np.nan, 2,np.nan,5], 'c':range(2,18,4)})
df2 = pd.DataFrame({"a": [5,4, np.nan, 3,7], 'b':[np.nan, 3,4,6,8], 'c':range(2,20,4)})
df3 = pd.DataFrame({"a": [5,4, np.nan, 3,7], 'b':[np.nan, 3,4,6,8]})

In [57]:
df1

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  5.0  14

In [58]:
df2

     a    b   c
0  5.0  NaN   2
1  4.0  3.0   6
2  NaN  4.0  10
3  3.0  6.0  14
4  7.0  8.0  18

In [59]:
df1.combine_first(df2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  5.0  14.0
4  7.0  8.0  18.0

In [60]:
df1.combine_first(df3)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  5.0  14.0
4  7.0  8.0   NaN

In [2]:
data = pd.DataFrame({"k1": ['one'] *3 + ['two'] * 4, "k2":[1,1,2,3,3,4,4]})
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [4]:
data.duplicated(['k1'])

0    False
1     True
2     True
3    False
4     True
5     True
6     True
dtype: bool

In [6]:
data.drop_duplicates(['k1'])

    k1  k2
0  one   1
3  two   3

In [5]:
data = pd.DataFrame({"a": [1, np.nan, 5, np.nan], 'b':[np.nan, 2,np.nan,5], 'c':range(2,18,4)})
data

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  5.0  14

In [9]:
data.index = data.index.map(lambda x: "00%s" % x)

In [11]:
data

       a    b   c
000  1.0  NaN   2
001  NaN  2.0   6
002  5.0  NaN  10
003  NaN  5.0  14

In [12]:
mapping = {"000": "a", "001": "b", "002": "c", "003": "d"}

In [13]:
data.index = data.index.map(mapping)

In [14]:
data

     a    b   c
a  1.0  NaN   2
b  NaN  2.0   6
c  5.0  NaN  10
d  NaN  5.0  14

In [15]:
data.rename(index=str.upper, columns=str.upper)
data

     A    B   C
A  1.0  NaN   2
B  NaN  2.0   6
C  5.0  NaN  10
D  NaN  5.0  14

In [17]:
data.rename(index=str.upper, columns=str.upper, inplace=True)

In [18]:
data

     A    B   C
A  1.0  NaN   2
B  NaN  2.0   6
C  5.0  NaN  10
D  NaN  5.0  14

In [19]:
ages = [20, 22,25,27,21,23,37,31,61,45,41,32]

In [20]:
bins = [18,25,35,60,100]

In [21]:
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [22]:
type(cats)

pandas.core.arrays.categorical.Categorical

In [25]:
cats.value_counts()

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [26]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [27]:
groups_name = ["a", "b", "c", "d"]
cats = pd.cut(ages, bins, labels=groups_name)
cats

[a, a, a, b, a, ..., b, d, c, c, b]
Length: 12
Categories (4, object): [a < b < c < d]

In [29]:
data = np.random.rand(20)
data

array([0.74178811, 0.01467287, 0.49573543, 0.31851593, 0.85013857,
       0.46200607, 0.95463412, 0.67936291, 0.84898945, 0.96334427,
       0.63662922, 0.34824836, 0.35124736, 0.20406337, 0.72037999,
       0.3911349 , 0.69475792, 0.27329516, 0.02085857, 0.1506108 ])

In [31]:
cat = pd.cut(data,4, precision=2)

In [32]:
pd.value_counts(cat)

(0.25, 0.49]     6
(0.73, 0.96]     5
(0.49, 0.73]     5
(0.014, 0.25]    4
dtype: int64

In [33]:
cat = pd.qcut(data,4, precision=2)

In [34]:
pd.value_counts(cat)

(0.73, 0.96]                    5
(0.48, 0.73]                    5
(0.31, 0.48]                    5
(0.004999999999999999, 0.31]    5
dtype: int64

In [36]:
np.random.seed(12345)
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [37]:
col = data[3]

In [39]:
col[np.abs(col) > 3]

97     3.927528
305   -3.399312
400   -3.745356
Name: 3, dtype: float64

In [40]:
data[np.abs(data) > 3] = np.sign(data) *3

In [41]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067623     0.068473     0.025153    -0.002081
std       0.995485     0.990253     1.003977     0.989736
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.000000     2.653656     3.000000     3.000000

In [21]:
sampler = np.random.permutation(3)
sampler

array([1, 2, 0])

In [22]:
df = pd.DataFrame(np.arange(5*4).reshape(5,4))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [23]:
df.take(sampler)

   0  1   2   3
1  4  5   6   7
2  8  9  10  11
0  0  1   2   3

In [20]:
? df.take()

In [33]:
df = pd.DataFrame({"key": list("bbacab"), 'data1':range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [35]:
dummies = pd.get_dummies(df['key'], prefix="key")

In [37]:
df_with_dummies = pd.concat([df['data1'], dummies], axis=1)
df_with_dummies

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [32]:
df['data1']

0    0
1    1
2    2
3    3
4    4
5    5
Name: data1, dtype: int64

In [39]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table("../datasets/movielens/movies.dat", sep="::", header=None, names=mnames)
movies.head()

C:\Users\lei_jia.NUANCE\AppData\Local\Continuum\anaconda3\envs\gluon\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [52]:
genre_tier = (set(x.split('|')) for x in movies.genres)

In [53]:
genres = sorted(set.union(*genre_tier))

In [54]:
dummies = pd.DataFrame(np.zeros((len(movies), len(genres))), columns=genres)

In [56]:
for i, gen in enumerate(movies.genres):
    dummies.ix[i, gen.split('|')]=1

C:\Users\lei_jia.NUANCE\AppData\Local\Continuum\anaconda3\envs\gluon\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [57]:
dummies

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
18,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
28,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3854,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3855,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3856,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3857,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3858,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3859,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3861,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3873,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3874,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3875,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3876,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3878,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [58]:
values = np.random.rand(10)
values

array([0.51481571, 0.29672995, 0.54139067, 0.74131564, 0.1461818 ,
       0.78623854, 0.16685597, 0.53460756, 0.31251027, 0.11514671])

In [60]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [62]:
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           1           0           0
1           0           1           0           0           0
2           0           0           1           0           0
3           0           0           0           1           0
4           1           0           0           0           0
5           0           0           0           1           0
6           1           0           0           0           0
7           0           0           1           0           0
8           0           1           0           0           0
9           1           0           0           0           0

In [4]:
import re

In [6]:
text = """ Dave deve@google.com
steve steve@gmail.com
Rob rob@yahoo.com
Rayn ryan@gmail.com
"""
pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.]+\.[A-Z]{2,4}"
regex = re.compile(pattern, flags=re.IGNORECASE)

In [7]:
regex.findall(text)

['deve@google.com', 'steve@gmail.com', 'rob@yahoo.com', 'ryan@gmail.com']

In [12]:
m = regex.search(text)
m.start()

6

In [13]:
m.end()

21

In [15]:
print(regex.match(text))

None

In [18]:
regex.sub("EMAIL", text)

' Dave EMAIL\nsteve EMAIL\nRob EMAIL\nRayn EMAIL\n'

In [19]:
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.]+)\.([A-Z]{2,4})"
regex = re.compile(pattern, flags=re.IGNORECASE)

In [24]:
regex.findall(text)

[('deve', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'yahoo', 'com'),
 ('ryan', 'gmail', 'com')]

In [36]:
data = {"Dave":"deve@gmail.com", "Steve":"steve@gmail.com","Rob": "rob@yahoo.com", "Rayn": np.nan}
data = pd.Series(data)

In [33]:
data

Dave     deve@google.com
Steve    steve@gmail.com
Rob        rob@yahoo.com
Rayn                 NaN
dtype: object

In [27]:
data.isnull()

Dave     False
Steve    False
Rob      False
Rayn      True
dtype: bool

In [28]:
data.describe()

count                   3
unique                  3
top       deve@google.com
freq                    1
dtype: object

In [34]:
data.str.contains("gmail")

Dave     False
Steve     True
Rob      False
Rayn       NaN
dtype: object

In [37]:
data.str.count('gmail')

Dave     1.0
Steve    1.0
Rob      0.0
Rayn     NaN
dtype: float64

In [38]:
data.str.findall('gmail')

Dave     [gmail]
Steve    [gmail]
Rob           []
Rayn         NaN
dtype: object

In [39]:
data.str.join("::")

Dave        d::e::v::e::@::g::m::a::i::l::.::c::o::m
Steve    s::t::e::v::e::@::g::m::a::i::l::.::c::o::m
Rob            r::o::b::@::y::a::h::o::o::.::c::o::m
Rayn                                             NaN
dtype: object

In [40]:
data.str.get(5)

Dave       g
Steve      @
Rob        a
Rayn     NaN
dtype: object