In [9]:
import json
import pandas as pd
import numpy as np

In [2]:
db = json.load(open("../datasets/usda_food/database.json"))

In [3]:
len(db)

6636

In [6]:
db[0].keys()

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [8]:
db[0]['nutrients'][0]

{'description': 'Protein',
 'group': 'Composition',
 'units': 'g',
 'value': 25.18}

In [10]:
nutrients = pd.DataFrame(db[0]['nutrients'])

In [11]:
nutrients[:7]

                   description        group units    value
0                      Protein  Composition     g    25.18
1            Total lipid (fat)  Composition     g    29.20
2  Carbohydrate, by difference  Composition     g     3.06
3                          Ash        Other     g     3.28
4                       Energy       Energy  kcal   376.00
5                        Water  Composition     g    39.28
6                       Energy       Energy    kJ  1573.00

In [12]:
info_keys = ["description", "group", "id", "manufacturer"]
info = pd.DataFrame(db, columns=info_keys)

In [13]:
info[:5]

,description,group,id,manufacturer
0,"Cheese, caraway",Dairy and Egg Products,1008,
1,"Cheese, cheddar",Dairy and Egg Products,1009,
2,"Cheese, edam",Dairy and Egg Products,1018,
3,"Cheese, feta",Dairy and Egg Products,1019,
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,

In [15]:
pd.value_counts(info.group)[:10]

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Legumes and Legume Products          365
Fast Foods                           365
Lamb, Veal, and Game Products        345
Sweets                               341
Pork Products                        328
Fruits and Fruit Juices              328
Name: group, dtype: int64

Beef, chuck, arm pot roast, separable lean and fat, trimmed to 1/8 fat, select, raw           1
Cherries, sour, red, raw                                                                      1
Beef, bottom sirloin, tri-tip roast, separable lean and fat, trimmed to 0 fat, choice, raw    1
Infant formula, PBM PRODUCTS, ULTRA BRIGHT BEGINNINGS, powder (formerly WYETH-AYERST)         1
Stinging Nettles, blanched (Northern Plains Indians)                                          1
Tomato products, canned, sauce, with onions                                                   1
Coffee, instant, with sugar, mocha-flavor, powder                                             1
Cereals ready-to-eat, KASHI Heart to Heart Warm Cinnamon                                      1
Cereals ready-to-eat, GENERAL MILLS, Whole Grain TOTAL                                        1
Seeds, sunflower seed kernels, dried                                                          1
Name: description, dtype: int64