In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                 'key2': ['one', 'two', 'one', 'two', 'one'],
                 'data1': np.random.randn(5),
                 'data2': np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.966907 -0.064146
1    a  two  0.334563  0.522675
2    b  one -0.712588 -1.468710
3    b  two -0.361241  0.976566
4    a  one -0.185505  1.072351

In [13]:
grouped = df['data1'].groupby(df['key1'])

In [14]:
grouped.mean()

key1
a   -0.263747
b    0.308811
Name: data1, dtype: float64

In [15]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [16]:
means

key1  key2
a     one    -0.446085
      two     0.100929
b     one     1.171758
      two    -0.554135
Name: data1, dtype: float64

In [17]:
means.unstack()

key2       one       two
key1
a    -0.446085  0.100929
b     1.171758 -0.554135

In [4]:
df.groupby('key1').mean()

         data1     data2
key1
a    -0.272616  0.510293
b    -0.536915 -0.246072

In [5]:
df.groupby('key1').size()

key1
a    3
b    2
dtype: int64

In [7]:
groups = df.groupby('key1')
means = groups.mean()
means['size'] = groups.size()

In [8]:
means

         data1     data2  size
key1
a    -0.272616  0.510293     3
b    -0.536915 -0.246072     2

In [9]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.966907 -0.064146
1    a  two  0.334563  0.522675
4    a  one -0.185505  1.072351
b
  key1 key2     data1     data2
2    b  one -0.712588 -1.468710
3    b  two -0.361241  0.976566

In [10]:
for name, group in df.groupby(['key1', 'key2']):
    print(name)
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -0.966907 -0.064146
4    a  one -0.185505  1.072351
('a', 'two')
  key1 key2     data1     data2
1    a  two  0.334563  0.522675
('b', 'one')
  key1 key2     data1    data2
2    b  one -0.712588 -1.46871
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.361241  0.976566

In [11]:
pieces = dict(list(df.groupby('key1')))
pieces

{'a':   key1 key2     data1     data2
 0    a  one -0.966907 -0.064146
 1    a  two  0.334563  0.522675
 4    a  one -0.185505  1.072351, 'b':   key1 key2     data1     data2
 2    b  one -0.712588 -1.468710
 3    b  two -0.361241  0.976566}

In [15]:
df.groupby('key1')['data1'].mean()

key1
a   -0.272616
b   -0.536915
Name: data1, dtype: float64

In [16]:
df.groupby('key1')[['data1', 'data2']]

In [17]:
df.groupby('key1')['data1'].sum()

key1
a   -0.817849
b   -1.073829
Name: data1, dtype: float64

In [2]:
tips = pd.read_csv('../examples/tips.csv')
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [3]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [4]:
grouped = tips.groupby(['smoker'])
grouped_pct = grouped['tip_pct']
grouped_pct.mean()

smoker
No     0.159328
Yes    0.163196
Name: tip_pct, dtype: float64

In [5]:
grouped_pct.agg('mean')

smoker
No     0.159328
Yes    0.163196
Name: tip_pct, dtype: float64

In [7]:
grouped_pct.agg(['mean', 'std', lambda x: x.max() - x.min()])

            mean       std  <lambda>
smoker
No      0.159328  0.039910  0.235193
Yes     0.163196  0.085119  0.674707