In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                 'key2': ['one', 'two', 'one', 'two', 'one'],
                 'data1': np.random.randn(5),
                 'data2': np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.239038  1.271801
1    a  two -0.658388  0.839947
2    b  one -1.143278 -0.963737
3    b  two -0.014854  1.238310
4    a  one  0.318791 -0.478045

In [13]:
grouped = df['data1'].groupby(df['key1'])

In [14]:
grouped.mean()

key1
a   -0.263747
b    0.308811
Name: data1, dtype: float64

In [15]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [16]:
means

key1  key2
a     one    -0.446085
      two     0.100929
b     one     1.171758
      two    -0.554135
Name: data1, dtype: float64

In [17]:
means.unstack()

key2       one       two
key1
a    -0.446085  0.100929
b     1.171758 -0.554135

In [4]:
df.groupby('key1').mean()

         data1     data2
key1
a    -0.272616  0.510293
b    -0.536915 -0.246072

In [5]:
df.groupby('key1').size()

key1
a    3
b    2
dtype: int64

In [7]:
groups = df.groupby('key1')
means = groups.mean()
means['size'] = groups.size()

In [8]:
means

         data1     data2  size
key1
a    -0.272616  0.510293     3
b    -0.536915 -0.246072     2

In [9]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.966907 -0.064146
1    a  two  0.334563  0.522675
4    a  one -0.185505  1.072351
b
  key1 key2     data1     data2
2    b  one -0.712588 -1.468710
3    b  two -0.361241  0.976566

In [10]:
for name, group in df.groupby(['key1', 'key2']):
    print(name)
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -0.966907 -0.064146
4    a  one -0.185505  1.072351
('a', 'two')
  key1 key2     data1     data2
1    a  two  0.334563  0.522675
('b', 'one')
  key1 key2     data1    data2
2    b  one -0.712588 -1.46871
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.361241  0.976566

In [11]:
pieces = dict(list(df.groupby('key1')))
pieces

{'a':   key1 key2     data1     data2
 0    a  one -0.966907 -0.064146
 1    a  two  0.334563  0.522675
 4    a  one -0.185505  1.072351, 'b':   key1 key2     data1     data2
 2    b  one -0.712588 -1.468710
 3    b  two -0.361241  0.976566}

In [15]:
df.groupby('key1')['data1'].mean()

key1
a   -0.272616
b   -0.536915
Name: data1, dtype: float64

In [16]:
df.groupby('key1')[['data1', 'data2']]

In [17]:
df.groupby('key1')['data1'].sum()

key1
a   -0.817849
b   -1.073829
Name: data1, dtype: float64

In [2]:
tips = pd.read_csv('../examples/tips.csv')
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [4]:
grouped = tips.groupby(['smoker'])
grouped_pct = grouped['tip_pct']
grouped_pct.mean()

smoker
No     0.159328
Yes    0.163196
Name: tip_pct, dtype: float64

In [5]:
grouped_pct.agg('mean')

smoker
No     0.159328
Yes    0.163196
Name: tip_pct, dtype: float64

In [7]:
grouped_pct.agg(['mean', 'std', lambda x: x.max() - x.min()])

            mean       std  <lambda>
smoker
No      0.159328  0.039910  0.235193
Yes     0.163196  0.085119  0.674707

In [4]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                 'key2': ['one', 'two', 'one', 'two', 'one'],
                 'data1': np.random.randn(5),
                 'data2': np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.972546  1.343086
1    a  two  0.531648  1.266071
2    b  one -0.308857 -1.300143
3    b  two -0.347068  0.661825
4    a  one  0.312559 -0.428947

In [5]:
k1_mean = df.groupby('key1').mean().add_prefix('mean_')
k1_mean

      mean_data1  mean_data2
key1
a       0.938918    0.726736
b      -0.327963   -0.319159

In [6]:
k1_mean = df.groupby('key1').transform(np.mean)
k1_mean

      data1     data2
0  0.938918  0.726736
1  0.938918  0.726736
2 -0.327963 -0.319159
3 -0.327963 -0.319159
4  0.938918  0.726736

In [ ]:
tips.sort_index(by="tip_pct")
tips.sort_values(by="tip_pct")

In [14]:
def top(df, n=5, column="tip_pct"):
    return df.sort_values(by=column)[-n:]

In [15]:
top(tips, n=6)

     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39     No  Sat  Dinner     2  0.291990
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

In [10]:
top(tips, n=6)

     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39     No  Sat  Dinner     2  0.291990
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

In [17]:
tips.groupby('smoker').apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [19]:
tips.groupby('smoker', group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [3]:
df = pd.DataFrame({'data1': np.random.randn(1000),
                 'data2': np.random.randn(1000)})
df

        data1     data2
0   -0.871184  1.029459
1   -1.484308  0.729422
2    0.989336 -0.699873
3   -1.387052 -1.266014
4    2.119191 -1.582471
5   -0.732200  0.970725
6    0.619984  0.925506
7    0.530354 -0.352868
8   -0.553779 -0.407631
9   -0.892144  1.468146
10  -0.995788  1.800977
11   0.331642 -0.398107
12  -0.629830 -0.490646
13  -0.913530  0.592660
14  -0.836105  2.284650
15  -0.190746 -0.342576
16  -0.643083 -0.510332
17  -1.689176 -1.817430
18   1.383263  0.559620
19  -0.630732  2.561543
20  -1.781056 -0.670927
21   0.422724 -0.124824
22   0.330369 -0.616785
23  -0.700269  0.286235
24  -0.090729  0.417348
25   0.074220  0.243067
26   2.645120  0.769232
27  -0.852780  0.148140
28   0.665474  0.381646
29  -0.433034 -0.790246
..        ...       ...
970 -0.431627  0.197590
971  0.086947  1.066574
972  0.274446 -0.009335
973  0.687632 -0.565893
974  0.790398  0.110953
975  0.615037 -2.443645
976  0.463847  0.755191
977  0.552861 -0.037780
978 -0.459062  0.692059
979 -0.080458  0.164988
980 -1.269661  0.739892
981  0.474415  1.242499
982 -1.403011  1.556796
983  0.552774 -2.917415
984  0.050036  0.872327
985 -0.687567 -0.169554
986  0.363529  0.942835
987  0.156415  0.494042
988  0.192170  0.727410
989  2.214785 -1.646387
990  1.930663 -0.329685
991  0.096155 -0.323212
992 -0.531948 -1.012404
993 -0.751562  0.101416
994 -1.407113  0.505484
995 -0.471706 -0.446665
996  0.865234 -0.977574
997  0.614730 -0.968687
998  0.657841 -0.223183
999  0.012574  0.749168

[1000 rows x 2 columns]

In [4]:
factor = pd.cut(df.data1, 4)

In [5]:
factor[:10]

0    (-1.818, -0.231]
1    (-1.818, -0.231]
2     (-0.231, 1.357]
3    (-1.818, -0.231]
4      (1.357, 2.944]
5    (-1.818, -0.231]
6     (-0.231, 1.357]
7     (-0.231, 1.357]
8    (-1.818, -0.231]
9    (-1.818, -0.231]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.412, -1.818] < (-1.818, -0.231] < (-0.231, 1.357] < (1.357, 2.944]]

In [6]:
factor[:100]

0     (-1.818, -0.231]
1     (-1.818, -0.231]
2      (-0.231, 1.357]
3     (-1.818, -0.231]
4       (1.357, 2.944]
5     (-1.818, -0.231]
6      (-0.231, 1.357]
7      (-0.231, 1.357]
8     (-1.818, -0.231]
9     (-1.818, -0.231]
10    (-1.818, -0.231]
11     (-0.231, 1.357]
12    (-1.818, -0.231]
13    (-1.818, -0.231]
14    (-1.818, -0.231]
15     (-0.231, 1.357]
16    (-1.818, -0.231]
17    (-1.818, -0.231]
18      (1.357, 2.944]
19    (-1.818, -0.231]
20    (-1.818, -0.231]
21     (-0.231, 1.357]
22     (-0.231, 1.357]
23    (-1.818, -0.231]
24     (-0.231, 1.357]
25     (-0.231, 1.357]
26      (1.357, 2.944]
27    (-1.818, -0.231]
28     (-0.231, 1.357]
29    (-1.818, -0.231]
            ...
70    (-1.818, -0.231]
71     (-0.231, 1.357]
72     (-0.231, 1.357]
73     (-0.231, 1.357]
74     (-0.231, 1.357]
75    (-1.818, -0.231]
76     (-0.231, 1.357]
77     (-0.231, 1.357]
78     (-0.231, 1.357]
79     (-0.231, 1.357]
80     (-0.231, 1.357]
81     (-0.231, 1.357]
82     (-0.231, 1.357]
83     (-0.231, 1.357]
84     (-0.231, 1.357]
85     (-0.231, 1.357]
86    (-1.818, -0.231]
87     (-0.231, 1.357]
88     (-0.231, 1.357]
89     (-0.231, 1.357]
90     (-0.231, 1.357]
91     (-0.231, 1.357]
92     (-0.231, 1.357]
93    (-1.818, -0.231]
94     (-0.231, 1.357]
95     (-0.231, 1.357]
96     (-0.231, 1.357]
97    (-1.818, -0.231]
98     (-0.231, 1.357]
99    (-1.818, -0.231]
Name: data1, Length: 100, dtype: category
Categories (4, interval[float64]): [(-3.412, -1.818] < (-1.818, -0.231] < (-0.231, 1.357] < (1.357, 2.944]]

In [7]:
def get_stats(group):
    return {
        'min': group.min(), 'max': group.max(), 'count': group.count(), 'mean': group.mean()
    }

In [8]:
grouped = df.data2.groupby(factor)

In [10]:
grouped.apply(get_stats).unstack()

                  count       max      mean       min
data1
(-3.412, -1.818]   39.0  1.958718  0.135409 -1.786403
(-1.818, -0.231]  372.0  2.859511  0.135323 -2.449806
(-0.231, 1.357]   512.0  3.096704 -0.023124 -3.087477
(1.357, 2.944]     77.0  1.571400 -0.108943 -2.294893

In [ ]:
fill_mean = lambda g: g.fill_na(g.mean())
data.groupby(group_key).apply(fill_mean)

In [7]:
suits = ['H', 'S', 'C', 'D']
card_val = (list(range(1, 11)) + [10] * 3) * 4
card_val

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10]

In [8]:
base_name = ['A'] + list(range(2, 11)) + ['J', 'Q', 'K']
base_name

['A', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'J', 'Q', 'K']

In [9]:
cards = []
for suit in suits:
    cards.extend(str(num) + suit for num in base_name)
cards

['AH',
 '2H',
 '3H',
 '4H',
 '5H',
 '6H',
 '7H',
 '8H',
 '9H',
 '10H',
 'JH',
 'QH',
 'KH',
 'AS',
 '2S',
 '3S',
 '4S',
 '5S',
 '6S',
 '7S',
 '8S',
 '9S',
 '10S',
 'JS',
 'QS',
 'KS',
 'AC',
 '2C',
 '3C',
 '4C',
 '5C',
 '6C',
 '7C',
 '8C',
 '9C',
 '10C',
 'JC',
 'QC',
 'KC',
 'AD',
 '2D',
 '3D',
 '4D',
 '5D',
 '6D',
 '7D',
 '8D',
 '9D',
 '10D',
 'JD',
 'QD',
 'KD']

In [10]:
desk = pd.Series(card_val, index=cards)
desk

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
QH     10
KH     10
AS      1
2S      2
3S      3
4S      4
5S      5
6S      6
7S      7
8S      8
9S      9
10S    10
JS     10
QS     10
KS     10
AC      1
2C      2
3C      3
4C      4
5C      5
6C      6
7C      7
8C      8
9C      9
10C    10
JC     10
QC     10
KC     10
AD      1
2D      2
3D      3
4D      4
5D      5
6D      6
7D      7
8D      8
9D      9
10D    10
JD     10
QD     10
KD     10
dtype: int64

In [14]:
def draw(deck, n=5):
    return desk.take(np.random.permutation(len(deck))[:n])

In [12]:
np.random.permutation?

In [20]:
draw(desk)

10D    10
KD     10
9H      9
10H    10
7H      7
dtype: int64

In [27]:
get_suit= lambda card: card[-1]
desk.groupby(get_suit).apply(draw, n=2)

C  8H      8
   5H      5
D  10H    10
   JH     10
H  QH     10
   4H      4
S  3H      3
   10H    10
dtype: int64

In [37]:
desk.groupby(get_suit).apply(draw, n=3).sum(level=0)

C    13
D    22
H    20
S    23
dtype: int64

In [42]:
close_px = pd.read_csv('../examples/stock_px.csv', parse_dates=True, index_col=0)

In [43]:
close_px.head()

              AA  AAPL    GE    IBM   JNJ  MSFT   PEP     SPX   XOM
1990-02-01  4.98  7.86  2.87  16.79  4.27  0.51  6.04  328.79  6.12
1990-02-02  5.04  8.00  2.87  16.89  4.37  0.51  6.09  330.92  6.24
1990-02-05  5.07  8.18  2.87  17.32  4.34  0.51  6.05  331.85  6.25
1990-02-06  5.01  8.12  2.88  17.56  4.32  0.51  6.15  329.66  6.23
1990-02-07  5.04  7.77  2.91  17.93  4.38  0.51  6.17  333.75  6.33

In [44]:
close_px.count()

AA      5472
AAPL    5472
GE      5472
IBM     5472
JNJ     5472
MSFT    5472
PEP     5471
SPX     5472
XOM     5472
dtype: int64

In [46]:
close_px = pd.read_csv('../examples/stock_px_2.csv', parse_dates=True, index_col=0)
close_px.head()

            AAPL   MSFT    XOM     SPX
2003-01-02  7.40  21.11  29.22  909.03
2003-01-03  7.45  21.14  29.24  908.59
2003-01-06  7.45  21.52  29.96  929.01
2003-01-07  7.43  21.93  28.95  922.93
2003-01-08  7.28  21.31  28.83  909.93

In [47]:
close_px.count()

AAPL    2214
MSFT    2214
XOM     2214
SPX     2214
dtype: int64

In [48]:
rets = close_px.pct_change().dropna()

In [50]:
close_px.pct_change?

In [51]:
rets

                AAPL      MSFT       XOM       SPX
2003-01-03  0.006757  0.001421  0.000684 -0.000484
2003-01-06  0.000000  0.017975  0.024624  0.022474
2003-01-07 -0.002685  0.019052 -0.033712 -0.006545
2003-01-08 -0.020188 -0.028272 -0.004145 -0.014086
2003-01-09  0.008242  0.029094  0.021159  0.019386
2003-01-10  0.002725  0.001824 -0.013927  0.000000
2003-01-13 -0.005435  0.008648 -0.004134 -0.001412
2003-01-14 -0.002732  0.010379  0.008993  0.005830
2003-01-15 -0.010959 -0.012506 -0.013713 -0.014426
2003-01-16  0.012465 -0.016282  0.004519 -0.003942
2003-01-17 -0.035568 -0.070345 -0.010381 -0.014017
2003-01-21 -0.005674 -0.002473 -0.023077 -0.015702
2003-01-22 -0.009986 -0.006445 -0.012885 -0.010432
2003-01-23  0.021614  0.024950 -0.002175  0.010224
2003-01-24 -0.026798 -0.046251 -0.021439 -0.029233
2003-01-27  0.024638 -0.013783 -0.026736 -0.016160
2003-01-28  0.031117 -0.007246  0.026326  0.013050
2003-01-29  0.024691  0.022419  0.036431  0.006779
2003-01-30 -0.041499 -0.033656 -0.018293 -0.022849
2003-01-31  0.002793 -0.015831  0.027768  0.013130
2003-02-03  0.020891  0.023056  0.013864  0.005399
2003-02-04 -0.004093 -0.025681  0.000000 -0.014088
2003-02-05 -0.010959 -0.007531 -0.014376 -0.005435
2003-02-06  0.000000  0.009756 -0.008538 -0.006449
2003-02-07 -0.020776 -0.017713 -0.007535 -0.010094
2003-02-10  0.015559  0.017486  0.007592  0.007569
2003-02-11  0.000000 -0.019871 -0.007176 -0.008098
2003-02-12  0.002786  0.000000 -0.019877 -0.012687
2003-02-13  0.009722  0.011507  0.012906 -0.001600
2003-02-14  0.009629  0.028169  0.009465  0.021435
...              ...       ...       ...       ...
2011-09-02 -0.018319 -0.015643 -0.018370 -0.025282
2011-09-06  0.015212 -0.011240 -0.013723 -0.007436
2011-09-07  0.011034  0.019208  0.035137  0.028646
2011-09-08  0.000547  0.008462 -0.011270 -0.010612
2011-09-09 -0.017337 -0.018307 -0.024856 -0.026705
2011-09-12  0.006517  0.005828  0.011688  0.006966
2011-09-13  0.012318  0.005794 -0.002645  0.009120
2011-09-14  0.012168  0.017665  0.013817  0.013480
2011-09-15  0.009401  0.018491  0.018860  0.017187
2011-09-16  0.019188  0.004817  0.007296  0.005707
2011-09-19  0.027790  0.003319 -0.011402 -0.009803
2011-09-20  0.004421 -0.008453  0.004206 -0.001661
2011-09-21 -0.003168 -0.036694 -0.027564 -0.029390
2011-09-22 -0.025040 -0.035783 -0.037932 -0.031883
2011-09-23  0.006172  0.000000  0.001011  0.006082
2011-09-26 -0.002795  0.015164  0.034771  0.023336
2011-09-27 -0.009698  0.009041  0.016592  0.010688
2011-09-28 -0.005635 -0.003506 -0.011521 -0.020691
2011-09-29 -0.016221 -0.005082  0.025114  0.008114
2011-09-30 -0.023683 -0.022004 -0.016919 -0.024974
2011-10-03 -0.017623 -0.014464 -0.020377 -0.028451
2011-10-04 -0.005606  0.033021  0.023612  0.022488
2011-10-05  0.015436  0.021705  0.015378  0.017866
2011-10-06 -0.002327  0.017381 -0.000811  0.018304
2011-10-07 -0.020060 -0.003417 -0.004466 -0.008163
2011-10-10  0.051406  0.026286  0.036977  0.034125
2011-10-11  0.029526  0.002227 -0.000131  0.000544
2011-10-12  0.004747 -0.001481  0.011669  0.009795
2011-10-13  0.015515  0.008160 -0.010238 -0.002974
2011-10-14  0.033225  0.003311  0.022784  0.017380

[2213 rows x 4 columns]

In [63]:
spx_corr = lambda x: x.corrwith(x["SPX"])
by_year = rets.groupby(lambda x: x.year)
by_year.apply(spx_corr)

          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0

In [57]:
rets.iloc[1].year

AttributeError: 'Series' object has no attribute 'year'

In [62]:
corrwith

SyntaxError: invalid character in identifier (<ipython-input-62-88c1778a4cf7>, line 1)

In [66]:
by_year.apply(lambda g: g['AAPL'].corr(g['MSFT']))

2003    0.480868
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64

In [3]:
tips = pd.read_csv('../examples/tips.csv')
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [17]:
tips.pivot_table(index=['smoker', 'time'], aggfunc='sum', margins=True)

               size     tip    tip_pct  total_bill
smoker time
No     Dinner   290  331.45  16.817194     2130.14
       Lunch    113  120.32   7.241404      767.29
Yes    Dinner   173  214.62  11.257937     1530.16
       Lunch     51   65.19   3.919295      400.18
All             627  731.58  39.235830     4827.77

In [5]:
tips.pivot_table?

In [19]:
tips.pivot_table(index=['time', 'day'], columns='smoker', aggfunc='mean', margins=True)

                 size                           tip                      \
smoker             No       Yes       All        No       Yes       All
time   day
Dinner Fri   2.000000  2.222222  2.166667  2.750000  3.003333  2.940000
       Sat   2.555556  2.476190  2.517241  3.102889  2.875476  2.993103
       Sun   2.929825  2.578947  2.842105  3.167895  3.516842  3.255132
       Thur  2.000000       NaN  2.000000  3.000000       NaN  3.000000
Lunch  Fri   3.000000  1.833333  2.000000  3.000000  2.280000  2.382857
       Thur  2.500000  2.352941  2.459016  2.666364  3.030000  2.767705
All          2.668874  2.408602  2.569672  2.991854  3.008710  2.998279

              tip_pct                     total_bill
smoker             No       Yes       All         No        Yes        All
time   day
Dinner Fri   0.139622  0.165347  0.158916  19.233333  19.806667  19.663333
       Sat   0.158048  0.147906  0.153152  19.661778  21.276667  20.441379
       Sun   0.160113  0.187250  0.166897  20.506667  24.120000  21.410000
       Thur  0.159744       NaN  0.159744  18.780000        NaN  18.780000
Lunch  Fri   0.187735  0.188937  0.188765  15.980000  12.323333  12.845714
       Thur  0.160311  0.163863  0.161301  17.075227  19.190588  17.664754
All          0.159328  0.163196  0.160803  19.188278  20.756344  19.785943