In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../examples/ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
df = pd.read_table("../examples/ex1.csv", sep=",")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
pd.read_csv("../examples/ex2.csv")

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [12]:
pd.read_csv("../examples/ex2.csv", header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [16]:
pd.read_csv("../examples/ex2.csv", names=["a", 'b','c'])

       a   b      c
1 2    3   4  hello
5 6    7   8  world
9 10  11  12    foo

In [18]:
pd.read_csv("../examples/csv_mindex.csv", index_col=['key1', 'key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [21]:
pd.read_csv("../examples/ex3.csv", sep="\s+")

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [25]:
pd.read_csv("../examples/ex5.csv", na_values=["two"])

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [27]:
chunker = pd.read_csv("../examples/ex6.csv", chunksize=1000)
tot = pd.Series([])
for piece in chunker:
    print("read 1000")
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
print(tot[:10])

read 1000
read 1000
read 1000
read 1000
read 1000
read 1000
read 1000
read 1000
read 1000
read 1000
0    151.0
1    146.0
2    152.0
3    162.0
4    171.0
5    157.0
6    166.0
7    164.0
8    162.0
9    150.0
dtype: float64